<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <label class="navbar-brand">Message</label>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" ng-click="goOut()"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="row">
  <div class="col-md-12 textMessage">
    <label>{{message|translate}}</label>
  </div>
  <div class="row">
    <div class="col-md-12 buttonAling">
        <button class="btn btn-default buttonMargin" ng-click="goOut()">Close</button>
    </div>
  </div>
</div>