<div class="well well-lg">
	<div class="row">
		<div class="col-md-3">
			<label>{{"NAME"|translate}}</label>
		</div>
		<div class="col-md-3">
			<label>{{"LATITUDE"|translate}}</label>
		</div>
		<div class="col-md-3">
			<label>{{"LONGITUDE"|translate}}</label>
		</div>
		<div class="col-md-3">
			<label>{{"RADIUS" | translate}}&nbsp;(Km)</label>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<input type="text" class="form-control" ng-blur="validateName()" ng-model="vesselForm.name"/>
			<div ng-if="validationNameError">
				<label class="label label-danger">{{validationNameMessage|translate}}</label>
			</div>
		</div>
		<div class="col-md-3">
			<input type="text" class="form-control" ng-blur="validateLatitude()" ng-model="vesselForm.area.point.latitude"/>
			<div ng-if="validationLatitudeError">
				<label class="label label-danger">{{validationLatitudeMessage|translate}}</label>
			</div>
		</div>
		<div class="col-md-3">
			<input type="text" class="form-control" ng-blur="validateLongitude()" ng-model="vesselForm.area.point.longitude"/>
			<div ng-if="validationLongitudeError">
				<label class="label label-danger">{{validationLongitudeMessage|translate}}</label>
			</div>
		</div>
		<div class="col-md-2">
			<input type="text" class="form-control" ng-blur="validateRadios()" ng-model="vesselForm.area.radius"/>
			<div ng-if="validationRadiosError">
				<label class="label label-danger">{{validationRadiosMessage|translate}}</label>
			</div>
		</div>
		<div class="col-md-1">
			<button tooltip='{{"HARBORS"|translate}}' tooltip-placement="bottom" ng-click="harborModal()">
				<img src="app/moduleForm/img/glyphicons-244-anchor.png"/>
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" ng-click="showDetail=!showDetail">
			<a href="#" class="linkForm">
				<span>{{"SEARCH_DETAIL"|translate}}</span>&nbsp;
				<span ng-hide="showDetail" class="glyphicon glyphicon-hand-down"></span>
				<span ng-show="showDetail" class="glyphicon glyphicon-hand-left"></span>
			</a>
		</div>
	</div>
	<div class="detail-form" ng-hide="showDetail">
		<div class="row">
			<div class="col-md-1">
				<label>{{"WIDTH"|translate}}:</label>
			</div>
			<div class="col-md-3">
				<input type="text" class="form-control" ng-blur="validateDetails({'name':'width','field':'1'})" ng-model="vesselForm.width.field1"/>
				<div ng-if="validationWidth1Error">
					<label class="label label-danger">{{validationWidth1Message|translate}}</label>
				</div>
			</div>
			<div class="col-md-3">
				<select class="form-control" ng-model="vesselForm.width.operator" ng-change="compareWidth()">
					<option value="gte">&gt;=</option>
					<option value="gt">&gt;</option>
					<option value="lt">&lt;</option>
					<option value="lte">&lt;=</option>
					<option value="btw">{{"BETWEEN"|translate}}</option>
				</select>
			</div>
			<div class="col-md-3">
				<input type="text" class="form-control" ng-blur="validateDetails({'name':'width','field':'2'})" ng-model="vesselForm.width.field2" ng-show="showBetweenDetails.width"/>
				<div ng-if="validationWidth2Error">
					<label class="label label-danger">{{validationWidth2Message|translate}}</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1">
				<label>{{"LENGTH"|translate}}:</label>
			</div>
			<div class="col-md-3">
				<input type="text" class="form-control" ng-blur="validateDetails({'name':'length','field':'1'})" ng-model="vesselForm.length.field1"/>
				<div ng-if="validationLength1Error">
					<label class="label label-danger">{{validationLength1Message|translate}}</label>
				</div>
			</div>
			<div class="col-md-3">
				<select class="form-control" ng-model="vesselForm.length.operator" ng-change="compareLength()">
					<option value="gte">&gt;=</option>
					<option value="gt">&gt;</option>
					<option value="lt">&lt;</option>
					<option value="lte">&lt;=</option>
					<option value="btw">{{"BETWEEN"|translate}}</option>
				</select>
			</div>
			<div class="col-md-3">
				<input type="text" class="form-control" ng-blur="validateDetails({'name':'length','field':'2'})" ng-model="vesselForm.length.field2" ng-show="showBetweenDetails.length"/>
				<div ng-if="validationLength2Error">
					<label class="label label-danger">{{validationLength2Message|translate}}</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1">
				<label>{{"DRAFT"|translate}}:</label>
			</div>
			<div class="col-md-3">
				<input type="text" class="form-control" ng-blur="validateDetails({'name':'draft','field':'1'})" ng-model="vesselForm.draft.field1"/>
				<div ng-if="validationDraft1Error">
					<label class="label label-danger">{{validationDraft1Message|translate}}</label>
				</div>
			</div>
			<div class="col-md-3">
				<select class="form-control" ng-model="vesselForm.draft.operator" ng-change="compareDraft()">
					<option value="gte">&gt;=</option>
					<option value="gt">&gt;</option>
					<option value="lt">&lt;</option>
					<option value="lte">&lt;=</option>
					<option value="btw">{{"BETWEEN"|translate}}</option>
				</select>
			</div>
			<div class="col-md-3">
				<input type="text" class="form-control" ng-blur="validateDetails({'name':'draft','field':'2'})" ng-model="vesselForm.draft.field2" ng-show="showBetweenDetails.draft"/>
				<div ng-if="validationDraft2Error">
					<label class="label label-danger">{{validationDraft2Message|translate}}</label>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			&nbsp;
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 col-md-offset-10 personalButton">
			<button class="btn btn-default" ng-click="clean()">{{"CLEAN"|translate}}</button> &nbsp;
			<button class="btn" ng-class="{'btn-info':disableSearch,'btn-primary':!disableSearch}" ng-click="launchSearch()">{{"SEARCH"|translate}}</button>
		</div>
	</div>
</div>
<div ui-view></div>