<div class="row">
	<div class="col-md-12">
		<h3>{{title|translate}}</h3>
	</div>
</div>
<div class="well well-lag">
	<div class="row">
		<div class="col-md-12">
			<h4>{{'GENERAL_INFO'|translate}}</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<label>{{'ONLY_NAME'|translate}}*:</label>
		</div>
		<div class="col-md-6">
			<label>{{'WIDTH'|translate}}:</label>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<input type="text" class="form-control" ng-blur="validateName(vessel.name)" ng-model="vessel.name"/>
			<div ng-if="validations.name">
				<label class="label label-danger">{{validations.name|translate}}</label>
			</div>
		</div>
		<div class="col-md-6">
			<input type="text" class="form-control" ng-blur="validatePositiveNumber(vessel.width,'width')" ng-model="vessel.width"/>
			<div ng-if="validations.width">
				<label class="label label-danger">{{validations.width|translate}}</label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<label>{{'LENGTH'|translate}}:</label>
		</div>
		<div class="col-md-6">
			<label>{{'DRAFT'|translate}}:</label>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<input type="text" class="form-control" ng-blur="validatePositiveNumber(vessel.length,'length')" ng-model="vessel.length"/>
			<div ng-if="validations.length">
				<label class="label label-danger">{{validations.length|translate}}</label>
			</div>
		</div>
		<div class="col-md-6">
			<input type="text" class="form-control" ng-blur="validatePositiveNumber(vessel.draft,'draft')" ng-model="vessel.draft"/>
			<div ng-if="validations.draft">
				<label class="label label-danger">{{validations.draft|translate}}</label>
			</div>
		</div>
	</div>
</div>
<div class="well well-lg">
	<div class="row">
		<div class="col-md-12">
			<h4>{{'GEOGRAPHICAL_INFO'|translate}}</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<label>{{'LATITUDE'|translate}}:</label>
		</div>
		<div class="col-md-6">
			<label>{{'LONGITUDE'|translate}}:</label>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<input type="text" class="form-control" ng-blur="validateNumber(vessel.point.y,'latitude')" ng-model="vessel.point.y"/>
			<div ng-if="validations.latitude">
				<label class="label label-danger">{{validations.latitude|translate}}</label>
			</div>
		</div>
		<div class="col-md-6">
			<input type="text" class="form-control" ng-blur="validateNumber(vessel.point.x,'longitude')" ng-model="vessel.point.x"/>
			<div ng-if="validations.longitude">
				<label class="label label-danger">{{validations.longitude|translate}}</label>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<label class="requiredFields">{{'REQUIRED_FIELD'|translate}}</label>
	</div>
	<div class="col-md-2 col-md-offset-6 personalButton">
		<button class="btn btn-default" ng-click="cleanForm()">{{'CLEAN'|translate}}</button>&nbsp;
		<button class="btn" ng-class="{'btn-info':disableSearch,'btn-primary':!disableSearch}" ng-click="save()">{{'ACCEPT'|translate}}</button>
	</div>
</div>