<div class="row" ng-if="tableResult">
	<div class="col-md-12">
		<table ng-table="tableGrid" class="table table-bordered">
			<tr ng-repeat="vessel in $data track by $index">
				<td data-title="vesselName">{{vessel.name}}</td>
				<td data-title="vesselWidth">{{vessel.width}}</td>
				<td data-title="vesselLength">{{vessel.length}}</td>
				<td data-title="vesselDraft">{{vessel.draft}}</td>
				<td data-title="vesselLatitude">{{vessel.point.y}}</td>
				<td data-title="vesselLongitude">{{vessel.point.x}}</td>
				<td data-title=""><button class="btn btn-primary" ng-click="selectTable(vessel)">{{"ONLY_SELECT"|translate}}</button></td>
			</tr>
		</table>
	</div>
</div>
<div class="row" ng-if="loadingResult">
	<div class="col-md-12 loadingGif">
		<img src="app/img/loading.gif"/>
	</div>
</div>