<div class="row">
	<div class="col-md-12">
		<table ng-table="tableParams" class="table table-bordered">
			<tr ng-repeat="vessel in $data">
				<td data-title="Name">vessel.name</td>
				<td data-title="Width">vessel.width</td>
				<td data-title="Length">vessel.length</td>
				<td data-title="Draft">vessel.length</td>
				<td data-title="Latitude">vessel.point.latitude</td>
				<td data-title="Longitude">vessel.point.longitude</td>
				<td data-title=""><button class="btn btn-primary">Select</button></td>
			</tr>
		</table>
	</div>
</div>